<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">-->
<!--    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/brands.min.css">
    <link rel="stylesheet" href="/css/solid.min.css">
    <title>ЭХД ПД</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <h5 class="text-center text-uppercase mt-5"><strong>Справка по сайту "Хранилище документов"</strong></h5>
        </div>
        <div class="row">
            <ul>
                <li>
                    <a href="#">Раздел пользователя</a>
                    <ol>
                        <li><a href="#">Основы взаимодействия с программой</a></li>
                        <li><a href="#">Работа с делами</a></li>
                        <li><a href="#">Работа с документами</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#">Раздел администратора</a>
                    <ol>
                        <li><a href="#">Загрузка справочника персональных данных</a></li>
                        <li><a href="#">Закрытие старых дел</a></li>
                        <li><a href="#">Работа с пользователями</a></li>
                        <li><a href="#">Возможные проблемы</a></li>
                        <li><a href="#">Структура базы данных</a></li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="row">
            <h6 class="text-center text-uppercase mt-5">Раздел пользователя<br>Основы взаимодействия с программой</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur consectetur fugiat sequi dolore atque vel. Voluptate architecto, odit nesciunt, mollitia tempore voluptatibus aut, dolores aspernatur numquam ad officiis vero.
            <h6 class="text-center text-uppercase mt-5">Работа с делами</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iure laboriosam maiores sit fuga assumenda dolores obcaecati dolorum aliquid suscipit eum illum dolorem corrupti quo, quisquam hic laudantium. Hic, quisquam!
            <h6 class="text-center text-uppercase mt-5">Работа с документами</h6>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, sequi. Quidem dolorum expedita unde voluptatem at rem doloremque libero? Nulla unde recusandae harum ratione facere ab? Eum illum voluptate accusamus!
        </div>
        <div class="row">
            <h6 class="text-center text-uppercase mt-5">Раздел администратора<br>Загрузка справочника персональных данных</h6>
            Перейдите в раздел администрирования (рис. 1-1)
            <img src="/images/admin-button.png" alt="Кнопка входа в админскую часть">
            <span class="text-center mb-2">(Рисунок 1)</span>

            В части "Загрузка справочника персональных данных", выбирите файл для загрузки (рис. 2-1) <strong>Внимание! Поддерживаются только файлы формата *.csv.</strong>При необходимости, укажите символ разделителя (рис. 2-2) и кодировку загружаемого файла (рис. 2-3). Нажмите кнопку "Загрузить" (рис. 2-4).
            <img src="/images/admin-upload-data.png" alt="Загрузка справочника персональных данных">
            <span class="text-center mb-2">(Рисунок 2)</span>
            <h6 class="text-center text-uppercase mt-5">Закрытие старых дел</h6>
            <h6 class="text-center text-uppercase mt-5">Работа с пользователями</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iure laboriosam maiores sit fuga assumenda dolores obcaecati dolorum aliquid suscipit eum illum dolorem corrupti quo, quisquam hic laudantium. Hic, quisquam!
            <h6 class="text-center text-uppercase mt-5">Возможные проблемы</h6>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, sequi. Quidem dolorum expedita unde voluptatem at rem doloremque libero? Nulla unde recusandae harum ratione facere ab? Eum illum voluptate accusamus!
            <h6 class="text-center text-uppercase mt-5">Структура базы данных</h6>
            <img src="/images/scheme.png" alt="Схема БД" style="width:500px;height:600px;margin:0 auto;">
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>